@media screen and (min-width: 1281px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 940px) {
	form.searchForm {
		width: 80%;
	}
}
@media screen and (max-width: 767px) {
	main {
		.splash {
			h1 {
				letter-spacing: 3px;
			}
			.splashImg {
				img {
					width: 80%;
				}
			}
		}
	}
	form.searchForm input.searchFormInput {
		width: 100%;
		border-radius: 5px;
	}
	form.searchForm input.searchFormSubmit {
		margin-top: 20px;
		border-radius: 5px;
	}
}

@media screen and (max-width: 480px) {
	form.searchForm {
		text-align: center;
	}
	main {
		.artistsContainer {
			font-size: 0.7rem;
		}
	} 
}