
@media screen and (max-width: 940px) {
	form.searchForm {
		width: 80%;
	}
	.artistsContainer {
		.fa-times-circle {
			font-size: 1.4rem;
			top: 10px;
			right: 10px;
		}
	}
	.info-container {
		width: 80%;
		top: 80px;
    	left: 50%;
    	transform: translateX(-50%);
	} 
}
@media screen and (max-width: 767px) {
	form.searchForm {
		text-align: center;
	}
	main {
		.splash {
			h1 {
				letter-spacing: 3px;
			}
			.splashImg {
				img {
					width: 80%;
				}
			}
		}
	}
	form.searchForm input.searchFormInput {
		width: 100%;
		border-radius: 5px;
	}
	form.searchForm input.searchFormSubmit {
		margin-top: 20px;
		border-radius: 5px;
	}
}
@media screen and (min-width: 480px) {
	.add-another-artist {
		bottom: 11px;
	}
}

@media screen and (max-width: 480px) {
	main {
		.artistsContainer {
			font-size: 0.7rem;
		}
		.addedArtistsContainer {
			padding: 0 5px;
			.play-button {
				padding-top: 17px;
				img {
					width: 57px;
					height: 57px;
				}
			}
			.addedArtistsCard .addedArtistImgContainer {
				width: 56px;
				height: 56px;
				border-width: 2px;
			}
			.addedArtistsCard p {
				display: none;
			}
		}
	}
	.info-icon {
		top: 0;
		left: 0;
	}
	.add-another-artist {
		padding: 6px;
		font-size: 13px;
		bottom: 8px;
	}
	.info-container {
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 60px;
		transform: initial;
		width: 100%;
	}
}
