@import 'setup';

$whiteColor: rgba(255,255,255,1);
$greyColor: rgba(168,168,156,1);
$blackColor: rgba(54,54,49,1);
$redColor: rgba(204,24,65,1);

html, button {
	font-family: 'roboto', sans-serif;
	font-weight: 100;
}

p {
	font-family: 'helvetica', sans-serif;
	font-weight: normal;
}

body {
	background: transparentize($blackColor, .3);
}

h1 {
	font-family: 'roboto';
	font-weight: 100;
	letter-spacing: 15px;
	text-transform: uppercase;
	color:white;
	text-shadow: 3px 3px 3px solid black;
	text-align: center;
	padding: 0 10px;
	z-index: 1;
}

// This is the styling for the search bar

main {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100vh;
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	.splashImg {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.alert {
		position: absolute;
		bottom: 0;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		background: rgba(0,0,0,0.8);
		right: 0;
		left: 0;
		top: 0;
		padding: 20px;
		font-size: 20px;
		.fa-times-circle {
			position: absolute;
			right: 30px;
			top: 30px;
			font-size: 2.8rem;
			color: white;
		}
		.fa-times-circle:hover {
			cursor: pointer;
		}
		p {
			max-width: 600px;
		}
	}
	.splash {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 1;
		visibility: visible;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		button {
			width: 100px;
			height: 40px;
			border-radius: 8px;
			border: $redColor;
			box-shadow: 0 3px 1px darken($redColor,20%);
			background: $redColor;
			color: $whiteColor;
			min-height: 40px;
		}
		button:active {
			outline: none;
			position: relative;
			top: 2px;
			box-shadow: 0 1px 1px $blackColor;
		}
	}
	.shrinkSplash {
		opacity: 0;
		visibility: hidden;
	}
}

form.searchForm {
	display: none;
	width: 60%;
	input.searchFormInput {
		width: 80%;
		height:50px;
		// display: flex;
		justify-content:center;
		border-radius: 5px 0 0 5px;
		border: none;
		padding: 15px;
		float: left;
	}
	input.searchFormInput.wrong:focus {
		box-shadow: 0 1px 10px $redColor, 0 -1px 10px $redColor;
	}
	input.searchFormSubmit {
		background: rgba(204,24,65,1);
		border: none;
		// display: flex;
		border-radius: 0 5px 5px 0;
		color: white;
		text-transform: uppercase;
		width: 20%;
		min-width: 100px;
		height:50px;
	}
}

form.hiddenForm {
	display: none;
}

.autocomplete-suggestions { 
	border: 1px solid #999; 
	background: #FFF; 
	overflow: auto; 
	font-weight: 300;
}
.autocomplete-suggestion { 
	padding: 2px 5px; 
	white-space: nowrap; 
	overflow: hidden; 
}
.autocomplete-selected { 
	background: #F0F0F0; 
}
.autocomplete-suggestions strong { 
	font-weight: normal; 
	color: $redColor; 
}
.autocomplete-group { 
	padding: 2px 5px; 
}
.autocomplete-group strong { 
	display: block; 
	border-bottom: 1px solid #000; 
}

.artistsContainer {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	height: 75%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	transition: all 0.3s ease;
	.artistCard {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		background: #363631;
		width: 80%;
		max-width: 600px;
		border-radius: 5px;
		// margin: 1.5%;
		box-shadow: 0 4px 8px darken(#363631, 20%);
		height: 90%;
		border-radius: 5px;
		text-transform: uppercase;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		.artistCardImgContainer {
			// width: 100px;
			// height: 100px;
			// border: 1px solid #FFFFFF;
			// background-position: center;
			// border-radius: 50%;
			// margin: 15px;

			width: 100%;
			border-radius: 5px 5px 0 0;
			background-position: top;
			// max-height: 240px;
			min-height: 80%;
			color: white;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: space-between;
			flex-direction: column;
			padding: 15px;
			text-shadow: 0 2px 4px black;
			text-transform: uppercase;
			.artistDetailsContainer {
				display: flex;
				justify-content: space-between;
			}
		}
		.buttonsContainer {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			width: 100%;
			height: 20%;
			margin: 0;
			border-radius: 0;
			background: $blackColor;
			button {
				margin: 4px 0;
				border: none;
				border-radius: 5px;
				color: #FFFFFF;
				padding: 4px 8px;
				// font-size: 10px;
				outline: none;
				transition: background 0.1s ease;
				text-transform: uppercase;
			}
			.viewMoreInfo {
				background: #A8A89C;
				box-shadow: 0 2px 1px darken(#A8A89C, 20%);
			}
			.addToPlaylist {
				background: $redColor;
				box-shadow: 0 3px 1px darken(#CC1841, 20%);
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				// padding: 15px;
				height: 50%;
				border-radius: 0 0 5px 5px;
				font-weight: 300;
			}
			button:active {
				// outline: none;
			}
			.addToPlaylistPressed {
				position: relative;
				top: 2px;
				background: #A8A89C;
				box-shadow: 0 1px 0px darken(#A8A89C, 20%);
			}
			.onSpotifyContainer {
				display: flex;
				height: 50%;
				a {
					text-decoration: none;
					color: $whiteColor;
					width: 50%;
					height: 100%;
					.fa {
						color: $redColor;
						margin-left: 5px;
					}
				}
				.viewOnSpotify {
					border-left: 1px solid $greyColor;
				}
				.listenOnSpotify {
					border-right: 1px solid $greyColor;
				}
				.viewOnSpotify,
				.listenOnSpotify {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					width: 100%;
					text-align: center;
					background: $blackColor;
					margin: 0;
					// padding: 15px;
					// border-bottom: 1px solid $greyColor;
					border-top: 1px solid $greyColor;
					border-radius: 0;
					font-weight: 300;
				}
			}
		}
	}
	.fa-times-circle {
		position: absolute;
		right: 30px;
		top: 30px;
		font-size: 2.8rem;
		color: white;
	}
	.fa-times-circle:hover {
		cursor: pointer;
	}
}
.addedArtistsContainer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 0%;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
	background: rgba(255,255,255,0.7);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 15px;
	.closeAddedArtistsButton {
		position: absolute;
		top: 10px;
		left: 10px;
		height: 30px;
		width: 35px;
		&:hover {
			cursor: pointer;
		}
	}
	.play-button {
		width: 20%;
		order: 6;
		text-align: center;
		padding-top: 6px;
		// margin-bottom: 50px;
		img {
			width: 80px;
			height: 80px;
			// margin: 15px auto;
			&:hover {
				cursor: pointer;
			}
		}
		h3 {
			margin: 0;
			font-weight: lighter;
			letter-spacing: 2px;
		}
	}
	.addedArtistsCard {
		text-align: center;
		padding: 5px;
		width: 20%;
		.addedArtistImgContainer {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			margin: 10px auto;
			border: 3px solid $redColor;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			justify-content: center;
			align-items: center;
			.removeImg {
				opacity: 0;
				visibility: hidden;
				font-size: 30px;
				transition:all 0.1s ease;
				color: white;
				font-size: 49px;
				text-shadow: 0px 2px 4px black;
				cursor: pointer;
			}
			&:hover .removeImg {
				opacity: 1;
				visibility: visible;
			}
		}
		p {
			color: $blackColor;
			letter-spacing: 1px;
			margin: 0 auto;
			overflow: hidden;
			width: 90%;
			font-size: 12px;
			font-weight: lighter;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
.addedArtistsContainer.show {
	opacity: 1;
	visibility: visible;
	height: 25%;
	width: 100%;
}


.showArtistContainer {
	display: flex;
	top: 0;
	visibility: visible;
	opacity: 1;
	// background: transparentize($blackColor, .3);
}

.spotifyContainer {
	z-index: 5;
	background: $blackColor;
	width: 100vw;
	height: 100%;
	display: none;
	justify-content: center;
	flex-direction: column-reverse;
	align-items: center;
	.fa-times-circle {
		position: absolute;
		left: 30px;
		top: 30px;
		font-size: 2.8rem;
		color: white;
	}
	.fa-times-circle:hover {
		cursor: pointer;
	}
}

@import 'media';